---
import Layout from '@/layouts/Layout.astro';
---
<Layout title="User Only">
  <h1 class="text-4xl">Free pass</h1>
  <p>Try access the protected <a class="text-blue-500" href="/admin" >/admin</a> page.</p>
</Layout>